@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --bg: #0e1a2b;
  --panel: #142236;
  --text-primary: #e3ebf7;
  --text-secondary: #8fa7c5;
  --accent: #3e8bff;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
     font-family: "Poppins", sans-serif;
}

.container {
    width: 400px;
    min-height: 50vh;
    margin: 2rem auto;
    background: var(--panel);
    color: var(--text-primary);
    padding: 20px;
}

.clock {
    border: 1px solid var(--text-secondary);
    padding: 10px;
    margin: 2rem 0;
    /* text-align: center; */
}

.time__display__screen {
    border: 1px solid var(--text-secondary);
    padding: 10px;
}

.time__display__screen .time__and_meridian {
    display: flex;
}

.time__and_meridian h3 {
    font-size: px;
    letter-spacing: 7px;
}
.footer {
    opacity: 0.5;
    text-align: center;
}