@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: #0e1a2b;
  --panel: #142236;
  --text-primary: #e3ebf7;
  --text-secondary: #8fa7c5;
  --accent: #3e8bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* NAVBAR */
/* Navbar styles */
header {
  position: fixed;
  top: 0;
  background-color: #1e1e1e;
  color: white;
  height: 50px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 80%;
  margin: 0 auto;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6347;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s;
}


main {
      flex: 1;
}
.container {
  width: 500px;
  margin: 5rem auto;
  background: var(--panel);
  color: var(--text-primary);
  padding: 20px;

}

.clock {
  padding: 10px;
  margin: 2rem 0;
}

.time__display__screen {
  border: 1px solid var(--text-secondary);
  padding: 10px;
}

.time__display__screen .time__and_meridian {
  display: flex;
}

.time__and_meridian h3 {
  font-size: px;
  letter-spacing: 7px;
}
.time-indicator {
    text-align: center;
    margin-top: 2rem;
    opacity: 0.5;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    height: calc(100vh - 60px);
    background-color: #1e1e1e;
    flex-direction: column;
    width: 200px;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }

  .container {
    width: 80%;
  }
}


/* Footer styles */
.footer {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 20px;
}

.whatsapp-link {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #25d366; /* WhatsApp green */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.whatsapp-link:hover {
  background-color: #1ebe5d;
}
